/* some nice general styles, fonts, etc. */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  background-color: #fff;
}

body {
  padding-top: 0px;
  padding-bottom: 40px;
}

* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Size for brand */
nav .navbar-brand {
  font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue {
  color: #537fbe;
}
nav .navbar-brand .red {
  color: #ea433b;
}
nav .navbar-brand .yellow {
  color: #f5b82e;
}
nav .navbar-brand .green {
  color: #2e944b;
}

table {
  table-layout: fixed;
  word-wrap: break-word;
}

.btn:hover {
  background-color: darkblue;
  color: white;
  transition: 0.7s;
}

/* make #addBookBox centered relative to the page */
#addBookBox {
  position: relative;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#searchquery {
  position: relative;
  top: 25%;
  left: 1%;
  transform: translate(-50%, -50%);
}

#pSearch {
  position: relative;
  top: 21%;
  left: 46%;
  transform: translate(-50%, -50%);
}

#pAddBook {
  position: relative;
  top: 29%;
  left: 46%;
  transform: translate(-50%, -50%);
}

h1 {
  text-shadow: 2px 2px 8px #000000;
  color: white;
  z-index: -1;
}
