{% extends "layout.html" %}

{% block title %}
Welcome
{% endblock %}

{% block main %}
<h1>Welcome</h1>
<!-- display all books in a table-->
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Status</th>
            <th scope="col">Date added</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.status }}</td>
            <td>{{ book.date }}</td>
            <!-- form for editing book and send current book id-->
            <td>
                <!-- edit book button that redirects the user to /editbook-->
                <form action="/editbook/{{ book.id }}" method="get">
                    <button class="btn btn-primary" type="submit">
                        Edit
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<!-- add book form -->
<form action="/addbook" method="post">
    <p>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
            aria-expanded="false" aria-controls="collapseExample">
            Add book
        </button>
    </p>
    <div class="collapse text-center center" id="collapseExample">
        <div class="card card-body text-center center">
            <div class="mb-3 text-center center">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="title" name="title"
                    placeholder="Title" type="text">
                <br>
                <input autocomplete=" off" autofocus class="form-control mx-auto w-auto" id="author" name="author"
                    placeholder="Author" type="text">
                <br>
                <!-- dropdown menu for selecting book status -->
                <select class="form-select center" aria-label="Book status" name="status" style="max-width:150px;  margin-left: auto;
                    margin-right: auto;">
                    <option value="Read">Read</option>
                    <option value="Reading">Reading</option>
                    <option value="To read">To read</option>
                    <option value="Abandoned">Abandoned</option>
                </select>
                <br>
                <br>
                <button class="btn btn-primary" type="submit">
                    Add
                </button>
            </div>
        </div>
    </div>
</form>

{% endblock %}