{% extends "layout.html" %}

{% block title %}
Bookie
{% endblock %}

{% block main %}
<h1 id="welcomeMessage" style="text-align: left">{{message}}</h1>
<ul class="list-group d-inline-flex" style="float: left; padding-bottom: 25px;">
    <li class="list-group-item d-inline-flex justify-content-between align-items-center">
        Read
        <span class="badge badge-primary badge-pill">{{number_of_books[0]}}</span>
    </li>
    <li class="list-group-item d-inline-flex justify-content-between align-items-center">
        To Read
        <span class="badge badge-primary badge-pill">{{number_of_books[1]}}</span>
    </li>
    <li class="list-group-item d-inline-flex justify-content-between align-items-center">
        Reading
        <span class="badge badge-primary badge-pill">{{number_of_books[2]}}</span>
    </li>
    <li class="list-group-item d-inline-flex justify-content-between align-items-center">
        Abandoned&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="badge badge-primary badge-pill">{{number_of_books[3]}}</span>
    </li>
</ul>

<br>

<br>
<br>
<!-- display all books in a table-->
<!-- 
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Status</th>
            <th scope="col">Date added</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.status }}</td>
            <td>{{ book.date }}</td>
            
            <td>
                
                <form action="/editbook/{{ book.id }}" method="get">
                    <button class="btn btn-primary" type="submit">
                        Edit
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
-->


<p id="pSearch"> Search for a book</p>
<div style="margin-top:20px;" id="searchBox">

    <input autocomplete="off" autofocus placeholder="Search" type="search" id="searchquery">

    <ul id="searchresults"></ul>

    <script>
        let input = document.getElementById('searchquery');
        input.addEventListener('input', async function () {

            // wait response from /serach with the json list of books
            let response = await fetch('/search?q=' + input.value);
            let books = await response.json();
            let html = '';
            // exists is used to determine whether the are search results, to not show an empty table
            let exists = false;
            for (let id in books) {

                let title = books[id].title.replace('<', '&lt;').replace('&', '&amp;');
                if (title.length > 1) {
                    exists = true;
                }
                else
                    exists = false;
                let author = books[id].author.replace('<', '&lt;').replace('&', '&amp;');
                let status = books[id].status.replace('<', '&lt;').replace('&', '&amp;');
                let date = books[id].date.replace('<', '&lt;').replace('&', '&amp;');
                let bookID = books[id].id;

                // html for the edit button
                let editButton = '<form action="/editbook/' + bookID + '" method="get">' + '<button class="btn btn-primary" type="submit">' + 'Edit' + '</button>' + '</form>';
                // adding a new row for each book with the book's info
                html += '<tr>' + '<td>' + title + '</td>' + '<td>' + author + '</td>' + '<td>' + status + '</td>' + '<td>' + date + '</td>' + '<td>' + editButton + '</td>' + '</tr>';
            }
            // adding the html code to the table
            document.getElementById('resultsTableBody').innerHTML = html;

            // if the input is at least 3 characters long and there are search results, show the table
            if (input.value.length >= 3 && exists) {
                document.getElementById("resultsTable").style.visibility = "visible";
                return;
            }

            if (input.value.length == 0 || !exists) {
                document.getElementById("resultsTable").style.visibility = "hidden";
            }
        });
    </script>
</div>

<p id="pAddBook"> or add one</p>
<!-- add book form -->

<form action="/addbook" method="post" id="addBookBox">
    <p>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
            aria-expanded="false" aria-controls="collapseExample" id="addBookCollapse">
            Add book
            <script>
                // when the button is clicked, hide #searchBox
                let hidden = false;
                console.log(hidden);
                document.getElementById("addBookCollapse").addEventListener("click", function () {
                    if (hidden) {
                        document.getElementById("searchBox").style.visibility = "visible";
                        document.getElementById("pSearch").style.visibility = "visible";
                        document.getElementById("pAddBook").style.visibility = "visible";
                        hidden = false;
                    }
                    else {
                        document.getElementById("searchBox").style.visibility = "hidden";
                        //document.getElementById("resultsTable").style.visibility = "hidden";
                        document.getElementById("pSearch").style.visibility = "hidden";
                        document.getElementById("pAddBook").style.visibility = "hidden";
                        hidden = true;
                    }
                });
            </script>
        </button>
    </p>
    <div class="collapse text-center center" id="collapseExample">
        <div class="card card-body text-center center">
            <div class="mb-3 text-center center">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="title" name="title"
                    placeholder="Title" type="text">
                <br>
                <input autocomplete=" off" autofocus class="form-control mx-auto w-auto" id="author" name="author"
                    placeholder="Author" type="text">
                <br>
                <!-- dropdown menu for selecting book status -->
                <select class="form-select center" aria-label="Book status" name="status" style="max-width:150px;  margin-left: auto;
                    margin-right: auto;">
                    <option value="Read">Read</option>
                    <option value="Reading">Reading</option>
                    <option value="To Read">To Read</option>
                    <option value="Abandoned">Abandoned</option>
                </select>
                <br>
                <button class="btn btn-primary" type="submit">
                    Add
                </button>
            </div>
        </div>
    </div>
</form>
<div>
    <table class="table table-striped" id="resultsTable" style="visibility: hidden;">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Status</th>
                <th scope="col">Date added</th>
                <th> </th>
            </tr>
        </thead>
        <tbody id="resultsTableBody">
            <!--
            {% for book in books %}
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.status }}</td>
                <td>{{ book.date }}</td>

                <td>
                    <form action="/editbook/{{ book.id }}" method="get">
                        <button class="btn btn-primary" type="submit">
                            Edit
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            -->
        </tbody>
    </table>
</div>

{% endblock %}